<div class="admin-title">
  <h2>Add New Item</h2>
  <a href="/dashboard" class="btn">&larr; Back</a>
</div>

<div style="text-align: justify;">
  <h3>Important Information</h3>
  <p>The times you enter, and their formatting, are HIGHLY IMPORTANT. You WILL ruin your club entry if you put in a wrong date format. Put the day that the club started, and the backend will create a recurring entry for it. Additionally, your club description should ideally include what day you meet on, what room and building you're in, the teacher chaperone's name (and email if you're feeling audacious), and member maximums and minimums. If you need assistance, see <a href="/post/example">this</a> example of a post.</p>
</div>

<form action="/add-post" method="POST" enctype="multipart/form-data">
  <label for="title"><b>Club Name</b></label>
  <input type="text" placeholder="Super Awesome Club" name="title">

  <label for="body"><b>Description</b></label>
  <textarea name="body" cols="50" rows="7" placeholder="My really cool club! [Requisite filler information]"></textarea>

  <label for="startDay"><b>Starting Day</b></label>
  <input name="startDay" type="text" placeholder="YYYY-MM-DD ; e.g. 2024-06-31">

  <label for="startHour"><b>Starting Time</b></label>
  <input name="startHour" type="text" placeholder="HH:MM ; e.g. 03:15">

  <label for="endHour"><b>Ending Time</b></label>
  <input name="endHour" type="text" placeholder="HH:MM ; e.g. 04:30">

  <label for="recurrence"><b>How often do you meet?</b></label>
  <input name="recurrence" type="text" placeholder="D for daily, W for weekly, M for monthly, B for bimonthly, O for other (and assumed as not recurring)">

  <label for="image"><b>Image</b></label>
  <input for="image" type="file" name="imgfile" accept="image/jpeg" id="imgFile">
  
  <input type="submit" id="submitButton" value="Add" class="btn">

</form>