<div class="admin-title">
  <h2>Add New Item</h2>
  <a href="/dashboard" class="btn">&larr; Back</a>
</div>

<form action="/add-post" method="POST" enctype="multipart/form-data">

  <label for="title"><b>Item</b></label>
  <input type="text" placeholder="eg. 'Red Jacket'" name="title">

  <label for="body"><b>Tags</b></label>
  <p>Quick brief on tagging items for qualities: include color, size, quantity, names, wa-apparel or not, and then other miscellaneous information. Order and capitalization does not matter, but include all of those attributes.</p>
  <textarea name="body" cols="50" rows="10" placeholder="eg. 'jacket, blue, wa-apparel, name: john, size: adult small, one, has a red stain'"></textarea>

  <!-- Dropdown template -->
  <!-- <div class="dropdown">
    <button class="btn" id="dropdownHeadBtn">
      dropdown
      <i class="bx bx-chevron-down" id="arrow"></i>
    </button>
    <div class="dropdownBody" id="dropdown">
      <a href="#create">
        <i class="bx bx-plus-circle"></i>
        Create New
      </a>
      <a href="#draft">
        <i class="bx bx-book"></i>
        All Drafts
      </a>
      <a href="#move">
        <i class="bx bx-folder"></i>
        Move To
      </a>
      <a href="#profile">
        <i class="bx bx-user"></i>
        Profile Settings
      </a>
      <a href="#notification">
        <i class="bx bx-bell"></i>
        Notification
      </a>
      <a href="#settings">
        <i class="bx bx-cog"></i>
        Settings
      </a>
    </div>
  </div>   -->

  <div class="dropdown">
    <button type="button" class="btn dropdownHeadBtn">WA Apparel<i class="bx bx-chevron-down" id="arrow"></i></button>
    <div class="dropdownBody" id="dropdown">
      <a class="choice"><i class="bx bx-plus-circle"></i>Yes</a>
      <a class="choice"><i class="bx bx-book"></i>No</a>
    </div>
  </div>

  <div class="dropdown">
    <button type="button" class="btn dropdownHeadBtn">Color<i class="bx bx-chevron-down" id="arrow"></i></button>
    <div class="dropdownBody" id="dropdown">
      <a class="choice"><i class="bx bx-plus-circle"></i>Red</a>
      <a class="choice"><i class="bx bx-book"></i>Blue</a>
      <a class="choice"><i class="bx bx-book"></i>Other</a>
    </div>
  </div>

  <div class="dropdown">
    <button type="button" class="btn dropdownHeadBtn">Quantity<i class="bx bx-chevron-down" id="arrow"></i></button>
    <div class="dropdownBody" id="dropdown">
      <a class="choice"><i class="bx bx-plus-circle"></i>1</a>
      <a class="choice"><i class="bx bx-book"></i>2</a>
      <a class="choice"><i class="bx bx-book"></i>Other</a>
    </div>
  </div>

  <input for="image" type="file" name="imgfile" accept="image/jpeg" id="imgFile">
  <!-- <div class="" id="images"></div> -->
  <input type="submit" id="submitButton" value="Add" class="btn">

  <!-- <script src="../submit.js"></script> -->
  
</form>