<div style="text-align: center;">
  <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FChicago&showPrint=0&src=d2Fsb3N0YW5kZm91bmRAZ21haWwuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=MGE4YTZiZmE1MWZmMWYxZTRjNzhmMTdhNDMxZWFjODljYWVjY2RiYmUzZTdiZTU2ZjZhZmU4MGRmZmZlZjJjZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%237CB342&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align: center; margin-top: 50px;">
  <a href="/logout" class="btn">Google Log Out</a>
</div>